<!DOCTYPE html>
<html lang="en">
<head>
  <title>JWT Auth</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <div class="container-login100-form-btn">
          <button class="login100-form-btn"  (click)="getUserDetails()">
            Get User Details
          </button>
        </div>
        <br>
        <br>
        <div *ngIf="userData" class="card text-center">
          <div class="card-body">
            <span class="card-title login100-form-title">
						Payload
					</span>
            <p class="card-text"><b>User ID:  {{userData.id}}</b></p>
            <p class="card-text"><b>User Name:  {{userData.username}}</b></p>
            <p class="card-text"><b>User Email:  {{userData.email}}</b></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/tilt/tilt.jquery.min.js"></script>
</body>
</html>
